/* You can add global styles to this file, and also import other style files */
body {
  background-color: #022E40;

  /* color: #F2F2F2; */
}

nav{
    background-color: #F23D3D !important;
    z-index: 100;
}

.bg-home{
  /* background-image: url('./assets/img/fondo-cambas-home.png'); */
  opacity:0.6;
  width: 100%;
}

.red-camb{
  background-color: #F23D3D;
}

.blue-camb{
  background-color: #023373;
}

.bg-customized{
  background-color: #022E40;
  border-color: #022E40;
  border: 0px solid #022E40;
}

.pointer {
  cursor: pointer;
}

.marginTop{
    margin-top: 11%;
}

.logo-container{
    width: 20%;
}

.logo-inside{
    width: 100%;
}


/* Animaciones */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}




/* 
body {
    background-color: black;
    color: white !important;
}

hr {
    border-color: white;
}

.puntero {
    cursor: pointer;
}

.img-circle {
    border-radius: 100%;
    width: 150px;
}

.card-title,
.card-text {
    color: black;
}

.badge {
    margin-left: 5px;
}

.btn-outline-success {
    margin-left: 5px;
}

.img-thumb {
    width: 50px;
    height: 50px;
} */
